/* Здесь вы напишете основную часть стилей страницы.
Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--text-weight);
  background-image: var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: var(--header-padding-block);
  text-align: center;
}

.section {
  inline-size: var(--section-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  inline-size: 100%;
  max-inline-size: 700px;
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: var(--accent-font), monospace;
  font-size: var(--logo-font-size);
  font-variation-settings: 'wght' var(--text-weight);
  line-height: 100%;
  background: var(--label-stroke);
  padding: 128px 120.5px;
  text-transform: uppercase;
  border: var(--button-border);
}

.header__sub {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  letter-spacing: 0;
  line-height: 100%;
}

.card {
  border: var(--card-border);
  background-color: var(--card-bg);
  display: flex;
  flex-direction: column;
}

.card__image-wrapper {
  position: relative;
  border-top: var(--card-border);
  border-bottom: var(--card-border);
}

.card__title {
  padding: 7px 24px 7px 10px;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--title-weight);
  font-size: 18px;
  line-height: 1;
}

.card__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.card__label {
  position: absolute;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  color: var(--label-color);
  top: 25px;
  right: 25px;
  font-family: var(--accent-font), monospace;
  font-variation-settings: 'wght' var(--text-weight);
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  z-index: 1;
  text-shadow: 1px 1px 0 0 var(--label-color);
}

@supports (text-stroke: 1px var(--label-stroke)) or (-webkit-text-stroke: 1px var(--label-stroke)) {
  .card__label {
    -webkit-text-stroke: 1px var(--label-stroke);
    text-stroke: 1px var(--label-stroke);
    text-shadow: none;
  }
}

.card__content {
  padding: 25px;
}

p {
  margin-bottom: 27px;
}

p:last-of-type {
  margin-bottom: 25px;
}

.card__text {
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--text-weight);
  font-size: 18px;
  line-height: 21px;
}

.card__buttons {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
}

.card__icon-button {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  block-size: 38px;
}

.button {
  position: relative;
  overflow: hidden;
  color: #fff;
  background-color: transparent;
  border: var(--button-border);
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.sparks {
  opacity: 0;
}

.contour {
  fill: var(--heart-black-color);
  transition: fill 0.3s ease;
}

.main-body,
.core {
  fill: transparent;
  transition: fill 0.3s linear;
}

.card__icon-button:hover .core {
  fill: var(--heart-black-color);
  transition: fill 0.3s ease;
}

.card__icon-button:hover .main-body {
  fill: var(--heart-black-color);
  transition: fill 0.3s ease 0.05s;
}

.card__icon-button:not(:hover) .main-body {
  transition: fill 0.3s ease;
}

.card__icon-button:not(:hover) .core {
  transition: fill 0.3s ease 0.03s;
}

.card__icon-button:active .core,
.card__icon-button:active .main-body {
  fill: var(--heart-red-color);
}

.card__icon-button:active .core {
  transition: fill 0.3s ease 0s;
}

.card__icon-button:active .main-body {
  transition: fill 0.3s ease 0.05s;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--label-color);
}

.card__like-button {
  border: var(--button-border);
  inline-size: 130px;
  padding: 7px 0;
  block-size: 38px;
}

.like-icon.is-liked .core {
  fill: var(--heart-red-color);
  transition: fill 0.3s ease;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-red-color);
  transition: fill 0.3s ease 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-red-color);
  transition: fill 0.3s ease 0.06s;
}

.like-icon:not(.is-liked) .contour {
  transition: fill 0.1s linear;
}

.like-icon.is-liked .heart {
  animation: scale-heart 0.3s ease-in 0.1s forwards;
  animation-iteration-count: 1;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  fill: red;
  animation: show-sparks 0.3s ease-in 0.3s forwards;
  animation-iteration-count: 1;
}

.button__text {
  display: flex;
  line-height: 90%;
  justify-content: center;
  align-items: center;
  color: var(--card-bg, #fff);
  position: relative;
  mix-blend-mode: difference;
  z-index: 2;
  font-family: var(--accent-font), monospace;
  font-size: 14px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  border-color: var(--label-color);
  box-shadow: 2px 2px 0 0 var(--label-color);
}

.button__text,
.button svg {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.button:hover::before {
  transform: translateX(0);
}

/* модальное окно */
.modal {
  border: none;
  padding: 30px;
  background-color: var(--card-bg);
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 150%;
  color: var(--label-color);
  max-width: max-content;
  margin: auto;
}

.modal[open] {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
}

.modal__row {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  justify-content: flex-start;
}

.modal__icon {
  width: 21px;
  height: 21px;
  flex-shrink: 0;
}

.modal[open] .modal__icon {
  width: 39px;
  height: 39px;
  margin-top: 12px;
}

.modal__text {
  line-height: 1.5;
  text-transform: uppercase;
  max-width: 234px;
  text-align: left;
}

.modal__button {
  border: 2px solid #000;
  background-color: transparent;
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  padding: 12px 132px;
  cursor: pointer;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

/* Фильтры для изображений */
.card__image--blur {
  filter: blur(3px);
}

.card__image--contrast {
  filter: contrast(1.4);
}

.card__image--grayscale {
  filter: grayscale(1);
}

.card__image--sepia {
  filter: sepia(0.7);
}

.card__image--hue-rotate {
  filter: hue-rotate(90deg);
}

.card__image--invert {
  filter: invert(1);
}

.card__image--multi {
  filter: brightness(0.9) saturate(1.2) contrast(1.1);
}

.like-icon {
  transform-origin: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card__save-button {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 0 auto 105px;
  background-color: var(--card-bg, #fff);
  border: var(--button-border);
  line-height: 1;
  padding: 15px 19px;
}

@media (width <=375px) {

  .header__logo {
    padding: 120px 14px;
  }

  .card__title {
    padding: 3.5px 25px 5.5px 10px;
    line-height: 1.2;
  }

  .card__content {
    padding: 25px;
  }

  .card__save-button {
    flex-direction: column;
  }

  .modal {
    padding: 30px;
  }

  .modal__icon {
    width: 28px;
    height: 28px;
  }

  .card__label {
    inset-block-start: 25px;
    inset-inline-end: 13px;
  }
}